files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDMzCCAhsCFCnMRvnRl/ksnDlJD3MeZ+5xoNsyMA0GCSqGSIb3DQEBCwUAMFYx
      CzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlXaXNjb25zaW4xEDAOBgNVBAcMB01hZGlz
      b24xITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yMjEwMjkx
      NjQwMzhaFw0yMzEwMjkxNjQwMzhaMFYxCzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlX
      aXNjb25zaW4xEDAOBgNVBAcMB01hZGlzb24xITAfBgNVBAoMGEludGVybmV0IFdp
      ZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANo5
      r0zG1b3znSBFm19aj0TpmmocgPKkAKStx3a6w2eU+aWwzBYgzaaJdLqca1MNOnBh
      lc9i+H9aVP7ZOa2hQM1JyGO9y4HoJOd/HSpvqTB1Z+a/08Mov5OUp31JY4XBVbzc
      Rsdls5CFS9M+s9Rq/fzSt833tbhwgB0ls/SX1RGNjxVjcLyPSIGvMzgrkjvyMXUc
      LvWoizUy+Iu8pt5fqAELdcqwArtWdrx6uh0UwS/Sl6OJBpHHAw6GIb5nwpA4uems
      maQUpn8IPgEheFgbeOdORaWcoqOyxfvjEPBNEBSkYCd0etzkQs3zFV29vziIoU8L
      By3aXqM2jpNZrP0zs4kCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAQkopc6BEYv9k
      rbCTP2q+99yLooI8BqFw7pr9kSz4l5UUkKw0dGNuRLrD6hoYe4CrLB1AKeilTwKe
      fbKk44p9H/UAgYEv0g7UmfV685je4dunDsnnf0tm47/k+UZW/PbezUUc2g3A/r85
      d7yHviVu07kzAmy1nyErv/JguMowMx9gHFkNAgpXOuXT3gKHzaDABLO3ERNB5iZj
      aJKUFstrnhIYof+VZ0FoZpPX7nC7sMxKSahjzWXVVP47ko2frjhr8xAVecZmIBP3
      tMOVDIklgsrL+YgKx74WSoIHXxmvldjJACcyK5m7+DfPSn1TTWe+XnD1uo3lPUa8
      EEaa7qf+gQ==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEA2jmvTMbVvfOdIEWbX1qPROmaahyA8qQApK3HdrrDZ5T5pbDM
      FiDNpol0upxrUw06cGGVz2L4f1pU/tk5raFAzUnIY73Lgegk538dKm+pMHVn5r/T
      wyi/k5SnfUljhcFVvNxGx2WzkIVL0z6z1Gr9/NK3zfe1uHCAHSWz9JfVEY2PFWNw
      vI9Iga8zOCuSO/IxdRwu9aiLNTL4i7ym3l+oAQt1yrACu1Z2vHq6HRTBL9KXo4kG
      kccDDoYhvmfCkDi56ayZpBSmfwg+ASF4WBt4505FpZyio7LF++MQ8E0QFKRgJ3R6
      3ORCzfMVXb2/OIihTwsHLdpeozaOk1ms/TOziQIDAQABAoIBAHhb7HWaDPVRUc4k
      1gcHeZF2jjYMNoqdLcWmGyc+5ttQbUiXdFiYCxTZJ0ptTzxlRWAKUogpfAkxl0Ng
      J9G96HHRSfbJDV8+3GvZzgpDv7r8Ziv8jR1Mci1Bhgcx3PQ+p70ceOUtEJabDjEa
      mjCEOkWhKsMs5kstsVtiGhjDTT76IcAfae0ciiLdd/FlyWfxTvAY24eS0eFxe1pu
      S3MXfICYQvdKjKdBiAmLpWg1noSrYnkglq59CawC+T0LlROmvUFsnET/v8GpxDCF
      axhuF7MYAkGPn1fbiF495i2Evo+ePwvlD2d36aj2lpEzfMZlk/Ant15V+xjDjLVT
      apw0+KECgYEA7YyWiaJBuIxCHCqFY/i+gjaezbJaGNDjR5VxbwuGaxKr1bp74Vef
      HMGKOs/j8qgBbANJmNlUREK8qIBy3gZNfTnueq59yhFKcGxApwLuq1TzMX7U7lGK
      iQnskLhlTkhZ3Zgd/Di/UC/JnValjr/K5eBRsX+v6SJwSsJRX1w1VOUCgYEA6yzc
      3bjRVBMBRrYu/hqr4W8iD/CcKJ6suEkwRwp7L9BhnIZ4AihWDwM6Y16exuTH+8mz
      Vx676117N/E4X3OyFwVtJKDFPs6lYk9Gd4PTS3z4ElAoARkCoQVaQqmSM4Kg5XF2
      rplwyse/fce07DoAuqtk5t5xq1orvr8VtB0bvdUCgYEA6d7BzptKbPDZnXVXgkdA
      +F3iFs2C2m+9c5pz5UnJet0VBATnNcHYSq1Y8/H8j8hMLhVGfg9pYRL7PkHH1UML
      Q0Cnw2zLNwey6+AH/uVqKJAoJhCifkcVRznYB9sjEeE1aG79BnawE7gYnKjTsiit
      D4i7pS7692IKf++zwVi8wOkCgYEAtnm56mQ0MBsK+3Xy4oGJakMT1/BnCnGMLPXE
      +upcCQ6UHqKLzYjEtaNYk6/gXQ05StoHSIr1XrvLFu4ZQp7/yTMRq8D/KyumUbCX
      SbbEpScTSQpe7/MbAhuoHF98rHEoLL+sSe+PABibMZpafIzI8g55HVXuNvmhRcD4
      syd+1f0CgYEAv4MOS8jvpGE4ZpUVWnDFB+eVasPt5b0JLjzPBM9oNbtrfFjZ/eh/
      piQ82J/6NfEZcTXIxrfVKaqASA2t+H8aNJEkZYahscqYhOIw09rQ3zmxMincEnDO
      YiSghF5Kz41pDoZXmLeJ9Nar0ZBKq2sghO31jOpiKi5CG/Rd+GIBhQY=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart